body {
  background-color: #000000; }

h1, h2, h6, p {
  color: #f6a2bf;
  font-family: 'Baloo Bhaina 2', cursive; }

.btn-pink {
  background-color: #f6a2bf;
  color: black; }

.close {
  background-color: #f6a2bf; }

.site-footer {
  background-color: #f6a2bf;
  color: black; }

.modal {
  width: 75vh;
  height: 80vh;
  margin: auto; }

.border-bottom {
  color: #f6a2bf; }
